{% extends "base.html" %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <h1>Lint your BibLaTeX files</h1>
    <p>
      This linter goes through a list of references and checks if certain
      required fields are available, for instance, if each publication is
      assigned a year or if a journal article has a volume and issue number.
    </p>
  </div>
</div>
<div class="container">
  <h2>Validate Now</h2>
  <form action="/validate" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label></label>
      <textarea
        id="file"
        name="file"
        cols="40"
        rows="20"
        aria-describedby="fileHelpBlock"
        required="required"
        class="form-control"
      ></textarea>
      <span id="fileHelpBlock" class="form-text text-muted"
        >Paste your .bib file here</span
      >
    </div>
    <div class="form-group">
      <button name="submit" type="submit" class="btn btn-primary">
        Validate
      </button>
    </div>
  </form>
</div>
{% endblock %}
